#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.card {
  /* padding: 2em; */
  font-size: 2rem;
}

.Title {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.sentence-box {
  background-color: lightgray;
  color: black;
  border-radius: 10px;
}

.answers-box {
  background-color: lightgrey;
  color: black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.answer:hover {
  cursor: pointer;
  background-color: white;
}
.answer {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border: 1px solid black;
}
.answerA:hover {
  border-radius: 0px 0px 0px 10px;
}
.answerB:hover {
  border-radius: 0px 0px 10px 0px;
}
.question-wrapper {
  background-color: lightgrey;
  border-radius: 10px;
  padding-top: 1rem;
}
.question-list {
  display: grid;
  grid-template-rows: auto;
  row-gap: 2rem;
}
